:root {
  --bg-body: #1f2937;
  --bg-contact: hsl(0, 0%, 14%);
  --accent: hsl(153, 71%, 59%);
  --small-text: hsl(0, 0%, 85%);
  --big-text: hsl(0, 0%, 100%);

  --transition: 300ms ease-in-out;
}

html {
  box-sizing: border-box;
  font-size: 100%;
  height: 100vh;
}

body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: var(--bg-body);
  color: var(--big-text);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
p,
button {
  margin: 0;
  padding: 0;
}

button {
  font-family: "Roboto", sans-serif;
  border: none;
  background: none;
  color: white;
}

.wrapper {
  width: calc(100% - 6.25rem);
  max-width: 69.375rem;
  margin-inline: auto;
}

a {
  text-decoration: none;
  color: #e5e7ebab;
  transition: color var(--transition);
}
span {
  transition: color var(--transition);
  background-image: linear-gradient(
    to right,
    var(--accent) 75%,
    var(--accent) 75%
  );
  background-position: 0 1em;
  background-repeat: repeat-x;
  background-size: 8px 4px;
}

/* HEADER */
.header {
  margin-block-start: 20px;
  margin-block-end: 80px;
}

.header__nav {
  display: flex;
  justify-content: space-between;
}

.header__home {
  color: var(--big-text);
  font-size: 24px;
  font-weight: 700;
}

.header__links {
  display: flex;
  gap: 16px;
  font-size: 18px;
  font-weight: 500;
}
span:hover,
a:hover {
  color: var(--accent);
  cursor: pointer;
}

/* HERO */
.hero {
  margin-block-end: 80px;
}
.hero__content {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 40px;
}

.hero__text {
  flex: auto;
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hero__image {
  flex: 1 1 auto;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: gray;
}

.hero__headline {
  margin: 0;
  font-size: 48px;
  font-weight: 900;
}

.hero__description {
  font-size: 18px;
  color: #e5e7ebab;
}

.hero__signup,
.signup {
  width: fit-content;
  padding: 5px 25px;
  background-color: #3882f6;
  color: var(--big-text);
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
}

/* INFORMATION */
.info {
  background: white;
  color: black;
  padding-bottom: 100px;
  padding-top: 20px;
}
.info__flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info__headline {
  margin-block-start: 40px;
  margin-block-end: 30px;
  font-size: 24px;
  font-weight: 700;
}
.info__content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  flex-wrap: wrap;
}
.info__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 150px;
}
.info__image {
  width: 150px;
  height: 150px;
  border: 4px solid #3882f6;
  border-radius: 10px;
  margin-block-end: 10px;
}
.info__description {
  text-align: center;
  color: black;
}

/* QUOTE */
.quote {
  background: #e5e7eb;
  color: black;
  padding-bottom: 80px;
  padding-top: 100px;
}
.quote__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.quote__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 800px;
}
.quote__text {
  font-size: 36px;
  font-weight: 300;
}
.quote__signature {
  align-self: flex-end;
  font-size: 20px;
}

.quote__signature > h5 {
  font-size: 1.25rem;
  font-size: clamp(1.25rem, 1.0795rem + 0.85vw, 1.625rem);
}

/* Contact */
.contact {
  background-color: white;
  color: black;
  padding: 100px 0;
}
.contact__container {
  background-color: #3882f6;
  border-radius: 10px;
  color: white;
  padding: 40px 0;
}
.contact__content {
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.contact__text {
}
.contact__title {
}
.contact__description {
  font-weight: 300;
}
.contact__signup {
  border: 2px solid white;
  border-radius: 10px;
}

/* Footer */
.footer {
  padding: 20px;
}

.footer__content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__text {
  font-weight: 200;
}
